{% load i18n %}
{% load staticfiles %}

<footer class="footer">

        <div class="logo-footer col-lg-2 col-md-3 col-sm-4 col-xs-4 text-center">
            <img height="80px" src="{% static 'images/logo_white.png' %}" alt="Logo">
        </div>

        <div class="social-footer col-lg-8 col-md-6 col-sm-4 col-xs-4 text-center">
            <a href="https://twitter.com/ADfits" target="_blank">
                <img height="45px" src="{% static 'images/greytwitter.png' %}" alt="">
            </a>
            <a href="https://www.linkedin.com/company/ad-fits" target="_blank">
                <img height="45px" src="{% static 'images/greylinkedin.png' %}" alt="">
            </a>
        </div>

        <div class="copyright-footer col-lg-2 col-md-3 col-sm-4 col-xs-4 text-right">
            <h5><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></h5>
            <h5>Copyright 2016, Ad Fits Inc. All rights reserved.</h5>
        </div>




</footer>
