{% load i18n %}
{% load staticfiles %}

<footer class="footer">

    <div class="footer-wrapper">
            <div class="footer-image">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/adfits.png' %}" alt="Logo">
                </a>
            </div>
            <div class="footer-content text-right">

                <h6><a href="{% url 'terms' %}">Terms of Use</a> | <a href="{% url 'policy' %}">Privacy Policy</a></h6>
                <h6>Copyright 2016, Ad Fits Inc. All rights reserved</h6>
        </div>
    </div>

</footer>