{% load i18n %}
{% load staticfiles %}

<footer class="footer">

    <div class="footer-wrapper">
        <div class="footer-image">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo1.png' %}" alt="Logo">
            </a>
        </div>
        <div class="footer-content">

            <!-- Icons -->
            <div class="footer-images-wrapper col-lg-6 col-md-6 col-sm-6 hidden-xs text-right">
                <a href="https://twitter.com/ADfits">
                    <img height="55px" src="{% static 'images/TwitterFinal.png' %}" alt="twitter_link">
                </a>
                <a href="https://www.linkedin.com/company/ad-fits">
                    <img height="55px" src="{% static 'images/LinkedInFinal.png' %}" alt="lnkd_link">
                </a>
            </div>

            <!-- Footer text -->
            <div class="footer-copyright col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <h6><a href="{% url 'terms' %}">{% trans "Terms of Use" %}</a> | <a
                        href="{% url 'policy' %}">{% trans "Privacy Policy" %}</a></h6>
                <h6>{% trans "Copyright 2016, Ad Fits Inc. All rights reserved" %}</h6>
            </div>


        </div>

    </div>

</footer>
