{% load i18n %}
{% load staticfiles %}

<header>
    <div class="header-wrapper">
            <div class="header-image">
                <a href="{% url 'home' %}">
                    <img class="" src="{% static 'images/adfits.png' %}" alt="Logo">
                </a>
            </div>
            <div class="header text-right">

                <h4>
                    {% trans "Call today! 1+ 647-328-8001" %}
                </h4>
                <h4>
                    {% trans "Toronto, Canada" %}
                </h4>
        </div>
    </div>

</header>