{% load i18n %}
{% load staticfiles %}

<header>
    <div class="col-lg-12 col-md--12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-2 header-image">
                <img height="85px" class="" src="{% static 'images/adfits.png' %}" alt="">
            </div>
            <div class="header col-lg-10 col-md-12 col-sm-12 col-xs-12 text-right">

                <h4>
                    {% trans "Call today! 1+ 647-328-8001" %}
                </h4>
                <h4>
                    {% trans "Toronto, Canada" %}
                </h4>

            </div>
        </div>
    </div>

</header>