/* Large desktops and laptops */
@media (min-width: 1200px) {

    .hero-title h1{
        font-size: 54px;
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {



}

/* Portrait phones and smaller */
@media (max-width: 480px) {


    .adf-widgetdialog {
        width: 300px !important;

    }

    .adf-widgetdialog .adf-modalbox {
        width: 300px !important;
        height: 200px !important;

    }

    .adf-piccover {
        padding: 10px 30px 5px !important;
    }

    .adf-footer {
        margin-top: 65px;
    }

    .adf-blackbox {
        height: 260px !important;
    }

}
