html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    background-color: #F1F1F2;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: 110px;
}

.footer a {
    color: #ffffff;
}

.header-wrapper, .footer-wrapper, .header-two-wrapper, .footer-two-wrapper {
    margin-bottom: 60px;
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #5ec8f2;
    height: 110px;
}

.header-two-wrapper, .footer-two-wrapper {
    background-color: #ffffff;
    margin-bottom: 60px;
}

.footer-wrapper, .footer-two-wrapper {
    margin-bottom: 0;
}

.header, .footer-content, .header-content-two, .footer-content-two {
    height: 110px;
    background-color: #76459B;
    color: #ffffff;
    padding: 20px;
    width: 100%;
}

.header-content-two, .footer-content-two {
    background-color: #ee4577;
}

.footer-images-wrapper > a:hover {
    text-decoration: none;
}

.main-text {
    color: #76459b;
    margin-top: 0;
    margin-bottom: 20px;
}

.main-text-second {
    color: #bc2d6e;
    margin-top: 0;
    margin-bottom: 20px;
}

.list-wrapper {
    margin-bottom: 30px;
}

.propos-list, .propos-list_two {
    padding: 0;
}

.propos-list > li, .propos-list_two > li {
    background: url(/static/images/list_icon.png) no-repeat left center;
    background-size: 25px;
    padding: 0 0 3px 35px;
    list-style: none;
    margin: 0;
    line-height: 40px;
    color: #483276;
    font-size: 26px;
    font-weight: 100;
}

.propos-list_two > li {
    background: url(/static/images/list_icon2.png) no-repeat left center;
}

.thanks-block {
    color: #483276;
    margin-top: 30px;
    padding: 0 40px;
}

.thanks-block a {
    color: #483276;
    text-decoration: underline;
}

.thanks-block a:hover {
    text-decoration: none;
}
.thanks-block h2{
    font-weight: 100;
}

.faq-block {
    color: #bc2d6e;
    margin-top: 30px;
    padding: 0 40px;
}

.header-image, .footer-image {
    position: relative;
    margin-right: -73px;
    z-index: 99;
}

.header-image img, .footer-image img {
    height: 105px;

}

.phone-inputs div {
    padding: 0 5px 5px 5px;

}

.widget {
    height: 275px;
    width: 375px;
    border: 1px solid black;
    margin: 0 auto;
}

.widget-responsive {
    border: 1px solid black;
    height: 275px;
}

.widget-responsive li {
    font-weight: 900;
    font-size: 20px;
}

.widget-wrapper {
    padding: 5px 30px;
    margin-bottom: 30px;
}

.section_1 {
    border-bottom: 2px solid black;
    padding-bottom: 70px;
}

.section_2 {
    border-bottom: 2px solid black;
    padding-bottom: 70px;

}

.section_2 > h1 {
    margin-top: 20px;
    margin-bottom: 30px;

}

.section_3 {
    padding: 40px;
}

.jump-to-form-button {
    display: inline-block;
    color: #ffffff;
    border: #5d6491 2px solid;
    text-transform: uppercase;
    padding: 0 3px;
    border-radius: 0;
    background: #ee4577 none;
    font-size: 30px;
}

.form-wrapper {
    padding: 0 15px;
}

.form-wrapper .jump-to-form-button {
    background-image: none;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 20px;
}

.line-between-phone {
    margin: 5px 0 0 5px;
}
