.header {
    height: 100px;
    background-color: #76459B;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
}

.footer {
    height: 100px;
    background-color: #76459B;
    color: #ffffff;
    padding: 20px;

}

.main-text {
    color: #76459B;
}

.propos-list {
    list-style-image: url('/static/images/list_icon.png');
}
.thanks-block{
    color: #76459B;
}

.thanks-block a{
    text-decoration: underline;
}
.header-image{
    padding-top: 15px;
    padding-left: 60px;
}