.header {
    height: 100px;
    background-color: #76459B;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
}

.footer {
    height: 100px;
    background-color: #76459B;
    color: #ffffff;
    padding: 20px;
    position: absolute;
    bottom : 0;
    right: 0;
    left: 0;
}

.main-text {
    color: #76459B;
}

.propos-list {
    list-style-image: url('/static/images/list_icon.png');
}