#sidebar-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background-color: #414a61;
  overflow-y: auto;
  visibility: hidden;
  -webkit-transition: visibility 0s .4s, -webkit-transform .4s 0s;
  transition: visibility 0s .4s, -webkit-transform .4s 0s;
  transition: transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s, -webkit-transform .4s 0s;
  -webkit-transform: translateX(260px);
      -ms-transform: translateX(260px);
          transform: translateX(260px); }
  #sidebar-nav.sidebar-menu-is-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    -webkit-transition: visibility 0s 0s, -webkit-transform .4s 0s;
    transition: visibility 0s 0s, -webkit-transform .4s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s, -webkit-transform .4s 0s;
    -webkit-overflow-scrolling: touch; }

.section-join-network {
  height: 800px; }
  .section-join-network .form-block {
    background: url("/static/images/main_background.jpg") center;
    background-size: cover; }
