/* Large desktops and laptops */
@media (min-width: 1200px) {
  .hero-title {
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 25px;
      margin-top: 30px;
    }
  }
  #navbar {
    display: block !important;
  }
  header .nav-container li a {
    padding: 0 30px;
    font-size: 18px;
  }
  .thanks-block h2 {
    font-size: 20px;
    line-height: 160%;
  }
  .faq-block {
    .faq-heading {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      line-height: 160%;
    }
  }
  .section_3 .image-half {
    text-align: left;
  }

  .section-join-network {
    height: 950px;

    .widget-block {
      height: 950px;
    }
    .form-block {
      height: 950px;
    }
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-title {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
      margin-top: 25px;
    }
  }
  #navbar {
    display: block !important;
  }
  .thanks-block h2 {
    font-size: 20px;
    line-height: 140%;
  }
  .section_3 .image-half {
    text-align: left;
  }
  .faq-block {
    .faq-heading {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
      line-height: 140%;
    }
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .hero-title {
    h1 {
      font-size: 30px;
      line-height: 150%;
    }
    h2 {
      font-size: 20px;
    }
  }
  .navbar-toggle {
    display: inline-block;
  }
  #navbar {
    display: none;
  }
  header {
    .logo-container {
      margin-left: 37%;
    }
    .faq-logo {
      margin-left: 0;
    }
  }
  .section-content {
    position: static;
  }
  .text-half {
    text-align: center;
  }
  .section_5 {
    padding: 30px;
    height: 900px;
  }
  .thanks-block h2 {
    font-size: 18px;
    line-height: 150%;
  }
  .faq-block {
    .faq-heading {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
      line-height: 140%;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .hero-title {
    margin-top: 200px;
    h1 {
      font-size: 30px;
      line-height: 150%;
    }
    h2 {
      font-size: 20px;
    }
  }
  #navbar {
    display: none;
  }
  header {
    .logo-container {
      margin-left: 28%;
    }
    .faq-logo {
      margin-left: 0;
    }
    .nav-container li {
      float: none;
    }
  }
  .section-content {
    position: static;
    margin-top: 40px;
  }
  .text-half {
    text-align: center;
    padding: 0;
  }
  .section_1 {
    height: 600px;
  }
  .section_2, .section_3, .section_4 {
    padding: 0;
    height: 650px;
  }
  .section_5 {
    padding: 0;
    height: 950px;
  }
  .section-form {
    padding-top: 0;
  }
  .jump-to-form-button, .form-button, .experience-button {
    font-size: 25px;
  }
  .thanks-block h2 {
    font-size: 16px;
    line-height: 160%;
  }
  .faq-block {
    .faq-heading {
      font-size: 22px;
    }
    h2 {
      font-size: 16px;
      line-height: 140%;
    }
  }
  .section-form h1 {
    margin-top: 50px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .hero-title {
    h1 {
      font-size: 23px;
      line-height: 150%;
    }
    h2 {
      font-size: 13px;
    }
  }
  .adf-widgetdialog {
    width: 125% !important;
    margin: 0 -35px;
    .adf-modalbox {
      width: 100% !important;
      height: 180px !important;
    }
  }
  .adf-piccover {
    padding: 10px 30px 5px !important;
  }
  .adf-footer {
    margin-top: 65px;
  }
  .adf-blackbox {
    height: 260px !important;
  }
  .adf-logos, .adf-progress {
    margin: 0 !important;
    width: auto !important;
  }
  header .logo-container {
    margin-left: 20%;
    margin-right: 0;
  }
  .all-rights {
    padding-top: 5px;
    display: block;
  }
  .section_2, .section_3, .section_4 {
    padding: 0;
    height: 800px;
  }
  .section_5 {
    padding: 0;
    height: 1100px;
  }
  .jump-to-form-button, .form-button, .experience-button {
    font-size: 20px;
  }
  .image-half img {
    height: 200px;
  }
  .nav-container {
    display: none;
  }
  .adf-main {
    width: 80%;
  }
  .copyright-footer {
    h5 {
      font-size: 12px;
    }
    .copyright-text {
      font-size: 10px;
    }
  }
  .jump-to-form-button, .form-button, .experience-button {
    padding: 0 25px;
    font-size: 20px;
  }
  .footer-container {
    width: 90%;
  }
  .section-form h1 {
    font-size: 30px;
    margin-top: 60px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  header .logo-container {
    margin-left: 10%;
    margin-right: 0;
  }
  .jump-to-form-button, .form-button, .experience-button {
    height: 60px !important;
    padding: 0 30px;
    font-size: 20px;
  }
  .copyright-footer h5 {
    font-size: 12px;
  }
  .section_3 {
    height: 800px;
  }
  .section_5 {
    height: 1200px;
  }
  .jump-to-form-button, .form-button, .experience-button {
    font-size: 15px;
  }
  .image-half {
    height: 170px;
    img {
      height: 150px;
    }
  }
  .adf-widgetdialog {
    width: 135% !important;
    margin: 0 -42px;
  }
}