{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}



    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="get-code-header col-lg-10">
                    <h2>
                        You’re one step away from generating new revenue streams for your website!
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="get-code-content col-lg-12">
                    <h2>This Ad Unit works best for engaged visitors who are reading your content. </h2>

                    <h2>Paste in the following Javascript tag into the middle or end of articles/posts on your
                        website</h2>

                    <div class="get-code-block">
                        <div id="ad-adfits">
                            <code><script>adwidget = "69e4a21a-4811-4262-b541-91662381a0c7"</script>
                            <script data-main="http://23.239.11.140:8050/static/js/ads.js" src="http://
23.239.11.140:8050/static/js/require.js"></script></code>
                        </div>
                    </div>

                    <h2>For most WordPress sites, this can be done by updating the “xyz.php” or similar file depending
                        on your theme.</h2>

                    <h2>Your developer can easily do this for you. </h2>

                    <h2><span class="need-help"><strong>Need help?</strong></span> Contact us and your dedicated Account Rep will be
                        happy to help you get started!</h2>
                    <button class="form-button">
                    DONE
                </button>

                </div>

            </div>
        </div>

    </div>
    {% include 'partials/sidebar.html' %}

    {% include 'partials/footer.html' %}

{% endblock %}


{% block js %}

    <script>
        <!-- Scrolled header -->
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 280) {
                $('header').addClass('header-is-scrolled');
                $('.header-bars-wrapper').addClass('is-scrolled');
            }
            else {
                $('header').removeClass('header-is-scrolled');
                $('.header-bars-wrapper').removeClass('is-scrolled');
            }
        });

        $('.experience-button').click(function () {
            document.getElementById('section-form').scrollIntoView();
        });
    </script>
{% endblock %}
