{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}



    <div class="main-content">
        <!-- First section -->
        <section class="section-join-network col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="row">
                <div class="widget-block col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {% include 'partials/widget.html' %}
                    <h2>
                        WELCOME TO THE WORLD’S 1 ST !
                        GAMIFICATION & REWARDS NETWORK
                        FOR PUBLISHERS.
                    </h2>

                    <h3>
                        When you launch gamification campaigns,
                        you’ll generate MORE revenue, turn 1 website
                        visit into 5, and best of all, you’ll be able to
                        choose the Sponsors YOU WANT, to sponsor your
                        website and reward your audience.
                    </h3>

                    <h3>
                        Earn $1 for every $5 card a sponsor gives away*.
                    </h3>

                    <h4>
                        *Sponsorships range between 100-500+ cards!
                        depending on website traffic = $100-$500+ income !
                        per campaign
                    </h4>
                </div>
                <div class="form-block col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <h3>
                        Join and watch how easy it is to use the power!
                        of gamification & rewards to monetize your website.

                    </h3>

                    <h4>
                        Please fill out all fields.
                    </h4>

                    {% crispy form %}
                </div>
            </div>

        </section>

    </div>
    {% include 'partials/sidebar.html' %}

    {% include 'partials/footer.html' %}

{% endblock %}


{% block js %}

    <script>
        <!-- Scrolled header -->
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 280) {
                $('header').addClass('header-is-scrolled');
                $('.header-bars-wrapper').addClass('is-scrolled');
            }
            else {
                $('header').removeClass('header-is-scrolled');
                $('.header-bars-wrapper').removeClass('is-scrolled');
            }
        });

        $('.experience-button').click(function () {
            document.getElementById('section-form').scrollIntoView();
        });
    </script>
{% endblock %}
