{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}

    {% include 'partials/header_two.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="faq-block col-lg-12 col-md--12 col-sm-12 col-xs-12">

                <h2 class="main-text-second">
                    <strong>{% trans "Terms of Use" %}</strong>
                </h2>

                <h2 class="main-text" style="font-weight: 100">
                    LEGAL CONTENT GOES HERE...
                </h2>


            </div>
        </div>
    </div>

    {% include 'partials/footer_two.html' %}

{% endblock %}