{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}

    {% include 'partials/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="thanks-block col-lg-12 col-md--12 col-sm-12 col-xs-12">

                <h2 class="main-text">
                    <strong>{% trans "THANK YOU!" %}</strong>
                </h2>

                <h3>
                    We have received your request and will be calling you shortly!
                </h3>

                <h3>
                    In the meantime, <a href="https://twitter.com/ADfits">follow us on Twitter</a> for the latest in Ad
                    Technology Tweets.
                </h3>

            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

{% endblock %}