{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}

    {% include 'partials/header.html' %}

    <div class="main-content">
        <div class="section_6">
            <div class="container-fluid">
                <div class="row">
                    <div class="thanks-block col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                        <h1 class="main-text">
                            {% trans "THANK YOU!" %}
                        </h1>

                        <h2>
                            {% trans "We have received your request and will be calling you shortly!" %}
                        </h2>

                        <h2>
                            {% trans "In the meantime" %}, <a
                                href="https://twitter.com/ADfits"><span>{% trans "follow us on Twitter" %}</span></a> or <a
                                href="https://twitter.com/ADfits">{% trans "LinkedIn" %}</a>
                            {% trans "for the latest in Ad Technology Tweets." %}
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/sidebar.html' %}
    {% include 'partials/footer.html' %}

{% endblock %}

{% block js %}

    <script>
        $('header').addClass('header-is-scrolled');
        $('.header-bars-wrapper').addClass('is-scrolled');
    </script>
{% endblock %}